<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userAuthentication</servlet-name>
        <servlet-class>controller.userAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invalid</servlet-name>
        <servlet-class>Invalid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptUsers</servlet-name>
        <servlet-class>AcceptUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineUsers</servlet-name>
        <servlet-class>DeclineUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAuthentication</servlet-name>
        <servlet-class>controller.adminAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploadd</servlet-name>
        <servlet-class>Uploadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Converter</servlet-name>
        <servlet-class>controller.Converter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change</servlet-name>
        <servlet-class>Change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpGenerator</servlet-name>
        <servlet-class>OtpGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SummaryForTextArea</servlet-name>
        <servlet-class>SummaryForTextArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forget</servlet-name>
        <servlet-class>Forget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PicUpload</servlet-name>
        <servlet-class>PicUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfConverter</servlet-name>
        <servlet-class>pdfConverter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>docConverter</servlet-name>
        <servlet-class>docConverter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>textConverter</servlet-name>
        <servlet-class>textConverter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PicUploadAdmin</servlet-name>
        <servlet-class>PicUploadAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAuthentication</servlet-name>
        <url-pattern>/userAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptUsers</servlet-name>
        <url-pattern>/AcceptUsers</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
C:\Users\Snehil Sharma\Desktop\QBS2\web\Documents/
            
        </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>DeclineUsers</servlet-name>
        <url-pattern>/DeclineUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAuthentication</servlet-name>
        <url-pattern>/adminAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploadd</servlet-name>
        <url-pattern>/Uploadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Converter</servlet-name>
        <url-pattern>/Converter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpGenerator</servlet-name>
        <url-pattern>/OtpGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SummaryForTextArea</servlet-name>
        <url-pattern>/SummaryForTextArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change</servlet-name>
        <url-pattern>/Change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invalid</servlet-name>
        <url-pattern>/Invalid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forget</servlet-name>
        <url-pattern>/Forget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicUpload</servlet-name>
        <url-pattern>/PicUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfConverter</servlet-name>
        <url-pattern>/pdfConverter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>docConverter</servlet-name>
        <url-pattern>/docConverter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>textConverter</servlet-name>
        <url-pattern>/textConverter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicUploadAdmin</servlet-name>
        <url-pattern>/PicUploadAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
